<%- include('../partials/top-a') -%>
    <link rel="stylesheet" href="../../css/base/header.css">
    <link rel="stylesheet" href="../../css/base/footer.css">
    <link rel="stylesheet" href="../../css/booking.css">
    <link rel="stylesheet" href="/../../css/base/components.css">
    <%- include('../partials/top-b') -%>
        <%- include('../partials/header') -%>
            <main>
             
                <!-- Booking section -->
                <section>
                  <% if (user) { %>
                  <nav style="background-color: #212121; height: auto;">
                    <div class="container">
                        <div class="nav-wrapper grey darken-4">
                            <div class="col s12">
                                <a href="/" class="breadcrumb skipy_ml_8 ">Home</a>
                                <a href="/merchant/<%= merchant._id %>" class="breadcrumb"><%= merchant.name %></a>
                                <a href="/api/booking/<%= user._id %>/bookings" class="breadcrumb">Bookings</a>
                                <a class="breadcrumb">Reservation</a>
                            </div>
                        </div>
                    </div>
                  </nav>
                  <% } else { %>

                    <% } %>
                    <!-- Selected merchant details section -->
                    <div class="container">
                        <div class="row">
                            <div class="col s12 center-align">
                                <h3 class="skipy-extrabold skipy-text-3xl font-Pacifico">
                                    <%= merchant.name %>
                                </h3>
                                <% if (merchant.location) { %>
                                    <p>
                                      <%= merchant.location[0].address %>, <%= merchant.location[0].suburb %>, <%=
                                            merchant.location[0].state %>, <%= merchant.location[0].postCode %>
                                    </p>
                                    <% } else { %>
                                      <% } %>
                               
                            </div>

                        </div>
                    </div>

                    <!-- Booking Reservation Details Section -->
                    <div class="container">
                        <div class="row">
                            <div class="col s12">

                                <form id="bookingForm" onsubmit="return false;">

                                    <div class="col s6">

                                        <div class="white skipy-border-radius-8">
                                            <div class="row">
                                                <div class="col s12">

                                                    <div class="col s12">

                                                        <h3 class="skipy-semibold skipy-text-xl">Reservation Details
                                                        </h3>

                                                        <input type="hidden" name="merchantId"
                                                            value="<%= merchant._id %>">

                                                        <div class="col s12">
                                                            <div class="card-panel grey lighten-5 z-depth-1">
                                                                <div class="row valign-wrapper skipy_mb_0">
                                                                    <div class="input-field col s12">
                                                                        <input id="name" type="text" class="validate"
                                                                            name="name" disabled required
                                                                            value="<%= merchant.name %>">
                                                                        <label for="name">Merchant
                                                                            Name</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col s12">
                                                            <div class="card-panel grey lighten-5 z-depth-1">
                                                                <div class="row valign-wrapper skipy_mb_0">
                                                                    <div class="input-field col s12">
                                                                        <input id="datepicker" type="text"
                                                                            class="datepicker" name="datepicker"
                                                                            required>
                                                                        <label for="datepicker">Reservation Date</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col s6">
                                                          <div class="card-panel lighten-5 z-depth-1">
                                                              <div class="row valign-wrapper skipy_mb_0">
                                                                  <div class="col s12">
                                                                      <label for="time">Time</label>
                                                                      <select id="time" name="time" required class="browser-default">
                                                                        <option value="" disabled selected>Choose a time</option>
                                                                          <% timeSlots.forEach(time=> { %>
                                                                              <option value=" <%= time %>">
                                                                                <%= time %>
                                                                              </option>
                                                                              <% }) %>
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                        <div class="col s6">
                                                            <div class="card-panel lighten-5 z-depth-1">
                                                                <div class="row valign-wrapper skipy_mb_0">
                                                                    <div class="col s12">
                                                                        <label for="guests">Number of Guests</label>
                                                                        <select id="guestSelect" name="guests" required
                                                                            class="browser-default">
                                                                            <option value="" disabled selected>Select</option>
                                                                            <% guestOptions.forEach(option=> { %>
                                                                                <option value="<%= option %>">
                                                                                    <%= option %>
                                                                                </option>
                                                                                <% }) %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col s12">
                                                          <div
                                                              class="card-panel grey lighten-5 z-depth-1">
                                                              <div
                                                                  class="row valign-wrapper skipy_mb_0">
                                                                  <div
                                                                      class="input-field col s12">
                                                                      <textarea
                                                                          id="specialRequest"
                                                                          placeholder="Enter any special request or dietary ..."
                                                                          class="materialize-textarea validate"
                                                                          name="specialRequest"
                                                                          data-length="120"></textarea>
                                                                      <label for="specialRequest"
                                                                          class="skipy-semibold skipy-text-3xl"><strong>Special
                                                                              Request</strong></label>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                        <% if (user) { %>
                                                            <div class="col s12">
                                                                <div class="card-panel grey lighten-5 z-depth-1">
                                                                    <div class="row valign-wrapper skipy_mb_0">
                                                                        <div class="input-field col s12">
                                                                            <input id="contactName" type="text"
                                                                                class="validate" name="contactName"
                                                                                disabled required
                                                                                value="<%= user.username %>">
                                                                            <label for="contactName">Contact
                                                                                Name</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col s12">
                                                                <div class="card-panel grey lighten-5 z-depth-1">
                                                                    <div class="row valign-wrapper skipy_mb_0">
                                                                        <div class="input-field col s12">
                                                                            <input id="contactPhone" type="text"
                                                                                class="validate" name="contactPhone"
                                                                                disabled required
                                                                                value="<%= user.phone %>">
                                                                            <label for="contactPhone">Contact
                                                                                Phone</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } else { %>

                                                                <% } %>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col s6">

                                        <div class="white skipy-border-radius-8">
                                            <div class="row">
                                                <div class="col s12">
                                                    <input type="hidden" name="menuItems" id="menuItemsInput">
                                                    <div class="col s12" id="menuItems">
                                                        <div class="flex items-center justify-between">
                                                            <h3 class="skipy-semibold skipy-text-xl">Menu Items</h3>
                                                            <p class="skipy-semibold skipy-text-xl skipy_mt_total">
                                                                Total:
                                                                <span id="subTotal">$0.00</span>
                                                            </p>
                                                        </div>
                                                        <% if (menus) { %>
                                                            <% menus.forEach(item=> { %>
                                                                <div class="col s12">
                                                                    <div class="card-panel grey lighten-5 z-depth-1">
                                                                        <div class="row valign-wrapper skipy_mb_0">

                                                                            <div class="col s3">
                                                                                <img src="<%= item.img %>"
                                                                                    alt="<%= item.name %>"
                                                                                    class="object-cover rounded-lg skipy_w_24 skipy_h_24">
                                                                            </div>
                                                                            <div class="col s9">
                                                                                <span class="black-text">
                                                                                    <span class="title skipy-semibold">
                                                                                        <%= item.name %>
                                                                                    </span>
                                                                                    <p class="title skipy-semibold">
                                                                                        <%= item.categoryName %>
                                                                                    </p>
                                                                                    <p class="title skipy-semibold">
                                                                                        $<%= item.price.toFixed(2) %>
                                                                                    </p>
                                                                                    <div>
                                                                                        <button
                                                                                            class="waves-effect waves-light btn bg-gray skipy_mr_8 quantity-btn decrease"
                                                                                            type="button"
                                                                                            data-id="<%= item._id %>"
                                                                                            data-price="<%= item.price %>"
                                                                                            data-name="<%= item.name %>"
                                                                                            data-img="<%= item.img %>">-</button>
                                                                                        <span
                                                                                            id="quantity-<%= item._id %>">0</span>
                                                                                        <button
                                                                                            class="waves-effect waves-light btn bg-gray skipy_ml_8 quantity-btn increase"
                                                                                            type="button"
                                                                                            data-id="<%= item._id %>"
                                                                                            data-price="<%= item.price %>"
                                                                                            data-name="<%= item.name %>"
                                                                                            data-img="<%= item.img %>">+</button>
                                                                                    </div>
                                                                                </span>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                                    <% } else { %>
                                                                        <div class="col s12">
                                                                            <div
                                                                                class="card-panel grey lighten-5 z-depth-1">
                                                                                <div
                                                                                    class="row valign-wrapper skipy_mb_0">
                                                                                    <div class="col s12">
                                                                                        <span class="black-text">Sorry
                                                                                            no items to select for <%=
                                                                                                merchant.name %>. Please
                                                                                                call <%=
                                                                                                    merchant.contactPhone
                                                                                                    %>. </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>


                                                                            <% if (menus) { %>
                                                                                <div class="col s12">
                                                                                    <div
                                                                                        class="card-panel grey lighten-5 z-depth-1">
                                                                                        <h3
                                                                                            class="skipy-semibold skipy-text-xl">
                                                                                            Order
                                                                                            Summary</h3>
                                                                                        <div
                                                                                            class="row valign-wrapper skipy_mb_0">
                                                                                            <div class="col s12">
                                                                                                <div id="orderSummary">
                                                                                                </div>

                                                                                                <div
                                                                                                    class="flex justify-between skipy_mt_8">
                                                                                                    <span>Subtotal:</span>
                                                                                                    <span
                                                                                                        id="subTotal2">$0.00</span>
                                                                                                </div>

                                                                                                <div
                                                                                                    class="flex justify-between skipy_mt_8">
                                                                                                    <span>Service Fee
                                                                                                        (10%):</span>
                                                                                                    <span
                                                                                                        id="serviceFee">$0.00</span>
                                                                                                </div>
                                                                                                <div
                                                                                                    class="border-t skipy_mt_8 skipy_pt_8">
                                                                                                    <div
                                                                                                        class="flex justify-between skipy-semibold">
                                                                                                        <span>Total
                                                                                                            Amount:</span>
                                                                                                        <span
                                                                                                            id="totalPriceWithGST">$0.00</span>
                                                                                                    </div>
                                                                                                </div>


                                                                                                <div
                                                                                                    class="skipy_mt_16">
                                                                                                    <button class="waves-effect waves-light btn btn-large bg-gray col s12 skipy_h_48" id="confirmBookingBtn"><strong>Confirm
                                                                                                            Reservation
                                                                                                            &
                                                                                                            Order</strong></button>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <% } else { %>
                                                                                    <% } %>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                
                <%- include('../partials/footer') -%>
            </main>
            <%- include('../partials/bottom-a') -%>

                <script src="../../js/booking.js"></script>                
                <%- include('../partials/bottom-b') -%>