<%- include('../partials/top-a') -%>
<link rel="stylesheet" href="../../css/base/header.css">
<link rel="stylesheet" href="../../css/base/footer.css">
<link rel="stylesheet" href="../../css/home.css">
<%- include('../partials/top-b') -%>
<%- include('../partials/header') -%>

<main>
  <section class="search-content">
    <div class="container">
      <div class="row center-align">
        <h1 class="col offset-s2 s8">Find your local services</h1>
      </div>
      <div class="row">
        <form class="search-form col offset-s2 s8" onsubmit="return false;">
          <div class="content row" style="margin-bottom: 0;">

            <input class="col s9" type="text" id="search" name="q" placeholder="Location, Merchant, or Services">
            <!-- <input class="col s12 m3 l3" type="date" id="date"> -->
            <a class="btn waves-effect waves-light" id="searchBtn">Search</a>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="popular-mer">
    <div class="container">
      <h2>Merchants</h2>
      <div>
        <div class="row" id="top-six-mer">
          <% top_six_mer.merchants.forEach(p=>{ %>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <a href="/merchant/<%= p._id %>">
                  <img src='<%= p.backgroundImg%>'>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title"><strong>
                    <%= p.name %>
                  </strong></span>
                <p>
                  <%= (p.description && p.description.split(' ').length > 7) ? p.description.split(' ').slice(0, 7).join(' ') + ' ...' : (p.description || 'No description available') %>
                </p>
                <div>
                  <div class="stars">
                    <% for (let i=0; i < p.star; i++) { %>
                    <% if (i+1> p.star ) { %>
                    <% if (p.star % 1 !==0) { %>
                    <i class="fas fa-star-half-alt"></i>
                    <% }%>
                    <% }else{ %>
                    <i class="fas fa-star"></i>
                    <% } %>
                    <% } %>
                  </div>
                  <span>(<%= p.reviews%> reviews)</span>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="row">
          <ul class="col s12 pagination" style="text-align: center;" id="merchant-pagination">
            <% if (top_six_mer.pageNo > 1) { %>
            <li class="waves-effect"><a href="#!" onclick="toPage('<%= parseInt(top_six_mer.pageNo)-1 %>')">
                <% } else { %>
            <li class="disabled"><a href="#!">
                <% } %>
                <i class="material-icons">chevron_left</i></a>
            </li>

            <% if(top_six_mer.totalPages < 6) { %>
            <% for(let i=1; i<top_six_mer.totalPages+1; i++) { %>
            <% if(i === top_six_mer.pageNo) { %>
            <li class="active"><a href="#!"><%= i %></a></li>
            <% }else{%>
            <li class="waves-effect"><a href="#!" onclick="toPage('<%= i %>')"><%= i %></a></li>
            <% } %>
            <% } %>
            <% }else{ %>
            <% for(let i= top_six_mer.pageNo-2; i<top_six_mer.pageNo+3; i++) { %>
            <% if(i === top_six_mer.pageNo) { %>
            <li class="active"><a href="#!"><%= i %></a></li>
            <% }else{%>
            <li class="waves-effect"><a href="#!" onclick="toPage('<%= i %>')"><%= i %></a></li>
            <% } %>
            <% } %>
            <% } %>

            <% if(top_six_mer.pageNo < top_six_mer.totalPages) { %>
            <li class="waves-effect">
              <a href="#!" onclick="toPage('<%= parseInt(top_six_mer.pageNo) +1 %>')">
                <% } else { %>
            <li class="disabled"><a href="#!">
                <% } %>
                <i class="material-icons">chevron_right</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="popular-mer">
    <div class="container">
      <h2>Popular Merchants</h2>
      <div>
        <div class="row">
          <% popular_mer.forEach(p=>{ %>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <a href="/merchant/<%= p.merchantId %>">
                  <img src='<%= p.backgroundImg%>'>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title"><strong>
                    <%= p.name %>
                  </strong></span>
                <p>
                  <%= p.description%>
                </p>
                <div>
                  <div class="stars">
                    <% for (let i=0; i < p.star; i++) { %>
                    <% if (i+1> p.star ) { %>
                    <% if (p.star % 1 !==0) { %>
                    <i class="fas fa-star-half-alt"></i>
                    <% }%>
                    <% }else{ %>
                    <i class="fas fa-star"></i>
                    <% } %>
                    <% } %>
                  </div>
                  <span>(<%= p.reviews%> reviews)</span>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>

  <section class="featured-col">
    <div class="container">
      <h2>Featured Collections</h2>
      <div class="row">

        <% featured_col.forEach(c => { %>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src='<%= c.backgroundImg%>'>
            </div>
            <div class="title">
              <h3><%= c.type  %></h3>
              <p><%= c.description %></p>
            </div>
          </div>
        </div>
        <% }); %>

      </div>
    </div>
  </section>

  <%- include('../partials/footer') -%>
</main>
<%- include('../partials/bottom-a') -%>

<script src="../../js/home.js"></script>
<%- include('../partials/bottom-b') -%>