<%- include('../partials/top-a') -%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
        @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    </style>
    <%- include('../partials/top-b') -%>
        <%- include('../partials/header') -%>

        <div class="section"></div>
        <div class="section"></div>


            <div class="container col s8">
                <div class="row">
                    <nav>
                        <div class="nav-wrapper">
                            <div class="col s8">
                                <h3 class="brand-logo col s8">Please Register</h3>
                            </div>
                        </div>
                    </nav>

                </div>
                <form class="col s14" action="/api/auth/register" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text" class="validate" name="username" required>
                            <label for="username">Full Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="phone" type="tel" class="validate" name="phone" required>
                            <label for="phone">Phone Number</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="confirmPassword" type="password" name="confirmPassword" required>
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button id="createAccount"
                                class="btn waves-effect waves-light bg-gray col s12"
                                type="submit">Create Account
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="section"></div>

            <%- include('../partials/footer') -%>
                </main>
                <script>
                    // var password = document.getElementById("password")
                    //     , password2 = document.getElementById("password2");

                    // function validatePassword() {
                    //     if (password.value != password2.value) {
                    //         password2.setCustomValidity("Passwords Don't Match");
                    //     } else {
                    //         password2.setCustomValidity('');
                    //     }
                    // }

                    // password.onchange = validatePassword;
                    // password2.onkeydown = validatePassword;
                </script>

                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
                <%- include('../partials/bottom-a') -%>
                    <script src="../../js/menu.js"></script>
                    <%- include('../partials/bottom-b') -%>