<%- include('../partials/top-a') -%>
<link rel="stylesheet" href="../../css/base/header.css">
<link rel="stylesheet" href="../../css/base/footer.css">

<%- include('../partials/top-b') -%>
<%- include('../partials/header') -%>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="aum-extrabold aum-text-3xl">Admin Login</h3>
            </div>
        </div>
    </div>
    
    <div class="container ">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="container white aum-border-radius-12">
                    <div class="container">
                        <div class="row">
                            <div class="col s12">
                                <form onsubmit="return false">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">email</i>
                                            <input id="adminname" type="email" class="validate" name="adminname" required>
                                            <label for="adminname">adminname or Email Address</label>
                                        </div>
                                    </div>
                                  
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="password" type="password" name="password" required>
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
    
                                    
                                    <div class="row">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-light bg-gray col s12" id="login-btn">Login
                                            </button>
                                        </div>
                                    </div>     
    
    
                                </form>
    
                                <% if (message) { %>
                                    <p>
                                        <%= message %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/bottom-a') -%>
<script src="../../js/admin.login.js"></script>
<%- include('../partials/bottom-b') -%>