<%- include('../partials/top-a') -%>
<link rel="stylesheet" href="../../css/base/header-b.css">
<link rel="stylesheet" href="../../css/base/footer.css">
<link rel="stylesheet" href="../../css/menu.css">
<%- include('../partials/top-b') -%>
<%- include('../partials/header-b') -%>

<main>
    <div class="menu">
        <h1>123123</h1>
    </div>
    <%- include('../partials/footer') -%>
</main>
<%- include('../partials/bottom-a') -%>

<script src="../../js/menu.js"></script>
<%- include('../partials/bottom-b') -%>